.badge-color {
  font-size: 17px !important;
  padding: 0 !important;
  top: -6px !important;
  background-color: orange !important;
  width: 15px !important;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.hovers:hover {
  color: red;
}
